
//
// VARIABLES
//

//Zenburn colors

//background
$gunmetal: #2E3436;
//text
$greynurse: #D3D7CF;
//headers
$wheat: #FFD7AF;
//code background
$nero: #1C1C1C;
//highlights
$daisy: #FCE94F;
//links
$java: #06989A;
//critical
$pink: #D7AFAF;
$mypink: #D78787;
//others
$pavlova: #AFAF87;
$earlsgreen: #C4A000;
$dimgray: #767676;
//highlights-hack
//for Chrome
$selection: rgba(252, 233, 79, 0.99);

// PT Sans stack
$ptsans: 'PT Sans', sans-serif;
// Mono stack
$monospace: 'PT Mono', monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
